<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurants for you">
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png" type="image/png" sizes="64x64">
  <meta name="theme-color" content="#f32121" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>GowFud</title>
</head>

<body>
  <a href="#items" class="skip-link">Skip to contents</a>
  <header class="app-bar">
    <div class="app-bar_menu">
      <button id="hamburgerButton" aria-label="menu"><i class="fa fa-bars" crossorigin="anonymous"></i></button>
    </div>
    <div class="app-bar_brand">
      <a href="/">
        <h1>GowFud</h1>
      </a>
    </div>
    <nav id="navigationDrawer" class="app-bar_navigation">
      <ul>
        <li><a href="#/home" id="menuHome"><i class="fa fa-home" crossorigin="anonymous"></i> Home</a></li>
        <li><a href="#/favorite" id="menuFavorite"><i class="fa fa-heart" crossorigin="anonymous"></i> Favorite</a></li>
        <li><a href="#/about" id="menuAbout"><i class="fa fa-id-card" crossorigin="anonymous"></i> About-us</a></li>
      </ul>
    </nav>
  </header>
  <div class="jumbotron">
    <picture>
      <source media="(max-width: 650px)" srcset="./images/hero-image-small.jpg">
      <img src='./images/hero-image-large.jpg' alt="Logo Gowfud"></img>

    </picture>
    <!-- <img src="./images/hero-image.jpg" alt="Logo GowFud" crossorigin="anonymous"> -->
    <h2>Talk Less Eat More with GOWFUD</h2>
  </div>
  <main id="mainContent">
  </main>
  <footer>
    <p>Copyright &copy; 2021 - GowFud </p>
  </footer>
</body>

</html>